<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:application.properties</value>
                <value>classpath:exam.properties</value>
                <value>classpath:examination-service.properties</value>
            </list>
        </property>
    </bean>

    <bean id="csvDataFileResourceLoader" class="ru.otus.loader.CsvDataFileResourceLoader">
        <constructor-arg name="fileName" value="${csv-loader.file-name}"/>
        <constructor-arg name="separator" value="${csv-loader.separator}"/>
    </bean>

    <bean id="examConfig" class="ru.otus.config.ExamConfig">
        <constructor-arg name="title" value="${exam-config.title}"/>
        <constructor-arg name="minPercentageOfCorrectAnswersLabel"
                         value="${exam-config.min-percentage-of-correct-answers-label}"/>
        <constructor-arg name="minPercentageOfCorrectAnswers"
                         value="${exam-config.min-percentage-of-correct-answers}"/>
        <constructor-arg name="rightAnswerToken" value="${exam-config.right-answer-token}"/>
    </bean>

    <bean id="examDao" class="ru.otus.dao.ExamDaoImpl">
        <constructor-arg name="examConfig" ref="examConfig"/>
        <constructor-arg name="csvDataFileLoader" ref="csvDataFileResourceLoader"/>
    </bean>

    <bean id="examService" class="ru.otus.service.ExamServiceImpl">
        <constructor-arg ref="examDao"/>
    </bean>

    <bean id="examinationServiceConfig" class="ru.otus.config.ExaminationServiceConfig">
        <constructor-arg name="inputNameTitle" value="${examination-service.input-name-title}"/>
        <constructor-arg name="inputFirstNameLabel" value="${examination-service.input-first-name-label}"/>
        <constructor-arg name="inputLastNameLabel" value="${examination-service.input-last-name-label}"/>
        <constructor-arg name="inputAnswerLabel" value="${examination-service.input-answer-label}"/>
        <constructor-arg name="cancellationToken" value="${examination-service.cancellation-token}"/>
        <constructor-arg name="resultMessage" value="${examination-service.result-message}"/>
        <constructor-arg name="passedMessage" value="${examination-service.passed}"/>
        <constructor-arg name="failedMessage" value="${examination-service.failed}"/>
    </bean>

    <bean id="consoleExaminationService" class="ru.otus.service.ConsoleExaminationService">
        <constructor-arg ref="examService"/>
        <constructor-arg ref="examinationServiceConfig"/>
    </bean>

</beans>